<!doctype html>
  <body>
    <header>
      <h1>Réflexion sur une séquance</h1>
    </header>
    <main>
      <h2> {{titre}} </h2>
      <h3> {{definition}} </h3>
      <p> {{text}} <p>
      {% if cartes %}
        {% for carte in cartes %} 
        <table style="width:100%">
          <tr>
            <th>{{carte.type}}</th>
          </tr>
          <tr>
            <td>{{carte.text}}</td>
          </tr>
        </table>
      {% else %}
        <button>Piochez carte(s)</button>
      {% endif %}
    </main>
  </body>
</html>
