<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %} - Réflexion sur une séquence</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    {% endblock %}
  </head>
  <body>
    <header>
      {% block header %}
      <h1><a href='/' style="text-decoration:none">Réflexion sur une séquence</a></h1>
      {% endblock %}
    </header>
    <main>{% block main %}{% endblock %}</main>
    <footer>
      {% block footer %}
      Examen Didatique du français - Stacy De Neyer - janvier 2021 - <a href="https://github.com/Babwin/dida/"> 
	  <img src="{{ url_for('static', filename='image/github.png')}}" width="15" height="15"></a> - 
	  <a href="https://drive.google.com/file/d/1XtYr3-egcJCnzdOlzjdp7deQyRhlJEWH/view?usp=sharing">Mon journal de bord</a>
      {% endblock %}
    </footer>
  </body>
</html>
