{% extends "layout.html" %}
{% block title %}Plateau{% endblock %}
{% block main %}
<h1> {{phase.titre}} </h1>
<h2> {{phase.definition}} </h2>
<p>
{{phase.questions}}
</p>
  {% if cartes %}
    <table class="main">
      <tbody>
        <tr>
          {% for carte in cartes %} 
            <td>
              <table class="carte">
                <thead>
                  <tr>
                    <th>{{carte.get('type')}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text_carte">
                    <td>{{carte.get('texte')}}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
      
    <a href='suivante' class="pretty_a">
      Phases Suivante
    </a>

  {% else %}
    <a href='pioche' class="pretty_a">
      Piocher carte(s)
    </a>
  {% endif %}
{% endblock %}

