{% extends "layout.html" %}
{% block title %}Plateau{% endblock %}
{% block main %}
<h1> {{phase.titre}} </h1>
<h2> {{phase.definition}} </h2>
<p>
{{phase.questions}}
</p>
  {% if cartes %}
      <table>
        <tr>
          {% for carte in cartes %} 
            <th>{{carte.get('type')}}</th>
          {% endfor %}
        </tr>
        <tr>
          {% for carte in cartes %} 
            <td>{{carte.get('texte')}}</td>
          {% endfor %}
        </tr>
      </table>
      
    <a href='suivante' class="pretty_a">
      Phases Suivante
    </a>

  {% else %}
    <a href='pioche' class="pretty_a">
      Piochez carte(s)
    </a>
  {% endif %}
{% endblock %}
