{% extends "layout.html" %}
{% block title %}Règles du jeu{% endblock %}
{% block main %}
  <h1>Les règles du jeu</h1>
  <h2>Les différents éléments</h2>
  <h3>Le plateau</h3>
  
  <p> Le plateau est séparé en 5 phases (qui représentent les 
	  différentes étapes possibles afin de créer une séquence 
	  d’apprentissage). Entre chaque phase, il y aura des cartes à 
	  tirer (qui amèneront à des réflexions) avant de pouvoir accéder 
	  à la phase suivante. </p>
	  
  <h3>Le journal de bord</h3>
  <p> Le journal de bord est l’outil primordial de la réflexion : 
  tout s’y retrouvera ! Il est un outil personnel où noter ses 
  réflexions, ses idées, ses questions, ses remarques, … Ce carnet est 
  complètement personnalisable et son organisation ne dépend que de vous.
  (Pour cause de coronavirus et d’examen à distance, ce carnet peut-être 
  entièrement informatisé, vous avez donc le choix entre vous munir de 
  feuilles et de bics ou d’ouvrir un document d’écriture.)</p>
  
  <h3>Les cartes-phases</h3>
  <p>Ces cartes sont affichées avant chacune des phases. Elles sont 
  composées d’une brève explication de la phase d’apprentissage ainsi 
  que de questions permettant de lancer votre réflexion. Elles ne sont 
  que du bonus et ne doivent pas obligatoirement être exploitées dans 
  votre carnet de réflexion.</p>
  
  <h3>Les cartes à tirer</h3>
  <p>Ces cartes seront des éléments obligatoires pour mener votre 
  réflexion. Entre chaque phase, vous serez amenés à piocher des 
  cartes (1, 2 ou 3, de manière aléatoire). Ces cartes sont séparés en 
  quatre catégories faisant partie de la même pioche.
  
  <h4>Les cartes "remarque-élève"</h4>
  <p>Ces cartes amènent des réflexions pouvant aller dans différents 
  sens, elles sont totalement subjectives en fonction de la manière 
  dont vous la comprenez, en fonction de l’intérêt que vous lui portez, 
  en fonction de l’utilité que vous lui trouvez. </p>
  <p>Par exemple la remarque « Il reste combien de temps » peut amener 
  des réflexions autour de la gestion de la séquence, de la rapidité de 
  certains élèves et de l’ennuie qu’il peut apporter, des moments de 
  pause ou de changement d’activité etc.</p>
  
  <h4>Les cartes A - B - C</h4>
  <p>Ces cartes amènent toujours à un lien composé de soit des photos 
  soit d’un article. Ce sont des apports théoriques pour guider votre 
  réflexion et elles sont classées en 3 catégories :</p>
  <ul>
  <li>Les A : Ces cartes <b>Valeurs</b> portent sur la façon dont les 
  valeurs guident vos choix, vos pratiques enseignantes, de l’utilité 
  et de la manière de les transmettre.</li>
  <li>Les B : Ces cartes <b>Théories</b> portent sur les outils à 
  disposition, les lieux de documentation, les manières de les 
  comprendre et de les utiliser.</li>
  <li>Les C : Ces cartes Pratiques portent sur les méthodes existantes, 
  les raisons d’en privilégier certaines, de la façon dont on peut 
  aider les élèves à s’épanouir.</li>
  </ul>
  <a href='jeu'>Suivant</a>
  <h1>Le déroulement d'une partie</h1>
  <ol>
  <li>Lire la carte phase et faire un début de réflexion</li>
  <li>Piocher des cartes</li>
  <li>Prendre son journal de bord et noter ses idées, ses remarques, 
  ses questions, ... pour chacune des cartes piochées. (après avoir
  lu les liens correspondants évidemment)</li>
  <li>Aller à la phase suivante</li>
  <li>Recommencer à l'étape 1</li>
  </ol>
  <a href='jeu'>Suivant</a>
  <h1>La fin de la rélexion</h1>
  <p>Lorsque vous êtes passé par toutes les phases et que vous avez
  réfléchis à toutes les cartes à tirer, reposez-vous !</p>
  <p>Quelques jours plus tard, reprenez votre journal de bord, 
  relisez-vous et ajoutez-y les germes des petites graines plantées 
  tout au long de votre partie.</p>
  
  
	
  <a href='jeu'>jouez</a>
{% endblock %}
